<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="MyConnectionString" providerName="System.Data.SqlClient"
         connectionString="Data Source=.\sqlexpress;Initial Catalog=MyDatabase;"
         xdt:Transform="SetAttributes(connectionString)" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings>
    <add key="ConfigVariable" value="OnCheckin Production" xdt:Locator="Match(key)" xdt:Transform="Replace" />
  </appSettings>
  <system.net>
    <mailSettings xdt:Transform="Replace">
      <smtp>
        <network host="myMailServer.com"/>
      </smtp>
    </mailSettings>
  </system.net>
</configuration>
